.log_1 {
    display: block;
    /* margin-bottom: auto!important;
    margin-top: auto!important;
    margin-left:  auto!important;
    margin-right:  auto!important; */
    position: absolute;
    top: 10%;
    left: auto;
    right: 0;
    opacity: 0.1;
    width: 100;
    height: auto;
    visibility: hidden;
    z-index: -1;
}

@media (min-width: 1233px) {
    .log_1 {
        display: block;
        /* margin-bottom: auto!important;
        margin-top: auto!important;
        margin-left:  auto!important;
        margin-right:  auto!important; */
        position: absolute;
        top: 28%;
        bottom: 0;
        left: auto;
        right: 15%;
        height: auto;
        opacity: 0.7;
        visibility: visible;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .log_1 {
        display: block;
        /* margin-bottom: auto!important;
        margin-top: auto!important;
        margin-left:  auto!important;
        margin-right:  auto!important; */
        position: absolute;
        top: 30%;
        bottom: 0;
        left: auto;
        right: 5%;
        height: auto;
        opacity: 0.7;
        visibility: visible;
        width: 380px;
        height: auto;
    }
}